<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>My First App</span>
  <button
    mat-icon-button
    class=""
    aria-label="Example icon-button with menu icon"
    style="padding-top: 2px; margin-left: 12px"
    (click)="navigateHome()"
  >
    Home
  </button>
  <button
    mat-icon-button
    class=""
    aria-label="Example icon-button with menu icon"
    style="padding-top: 2px; margin-left: 12px"
    (click)="navigateAdd()"
  >
    Add
  </button>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<div *ngFor="let item of items; let i = index">
  {{ i + 1 }}-{{ item.index - i }}
</div>
<router-outlet></router-outlet>
