<div class="container" style="padding: 1em;">
  <form [formGroup]="form" (ngSubmit)="register()">
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Name*</mat-label>
        <input matInput placeholder="Enter full name" formControlName="name" />
        <mat-error *ngIf="f.name.errors && f.name.errors.required">
          Name required</mat-error
        >
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          required
          formControlName="email"
        />
        <mat-error *ngIf="f.email.errors && f.email.errors.invalid"
          >Invalid Email Address</mat-error
        >
        <mat-error *ngIf="f.email.errors && f.email.errors.required"
          >Email Address required</mat-error
        >
      </mat-form-field>
    </p>

    <button mat-raised-button color="primary" type="submit">
      Submit Form
    </button>
  </form>
</div>
